.wrapper{
    background-color: var(--background-black);
    color: var(--white);
    display: flex;
    justify-content: center;
    text-align: center;
    .header{
        margin-bottom: 20px;
        .header-title{
            color: var(--blue);
        }
        .header-icon{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .content{
        display: inline-block;
        font-size: 1.6rem;
        ul{
            display: flex;
            li{
                padding: 10px 20px;
                cursor: pointer;
                &:hover{
                    color: var(--yellow);
                }
                @media (min-width: 768px) and (max-width: 1024px) {
                    padding: 5px 10px;
                }
                @media (max-width: 768px) {
                    padding: 0px 7px;
                }
            }
        }
    }
    .logo{
        img{
            width: 70%;
            @media (max-width: 899px) {
                width: 30%;
            }
        }
    }
    .address{
        display: flex;
        justify-content: center;
        ul{
            margin-right:2px ;
            li{
                cursor: pointer;
                &:hover{
                    color: var(--yellow);
                }
            }
        }
    }
}