.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    .menuSlidebar{
        display: none;
        @media (max-width: 900px) {
            display: block;
            position: fixed;
            padding: 5px 10px;
            font-size: 2rem;
            color: var(--white);
            background: var(--blue);
            left: 0;
            top: 20%;
            cursor: pointer;
            z-index: 10000;
        }
    }
    .menuNone{
        display: none;
    }
    .slidebar{
        @media(max-width:899px){
            display: block;
            position: fixed;
            top:60px;
            left: 0;
            width: 250px;
            z-index: 20000;
            background: var(--white);
            height: 100%;
            padding: 20px;
            transform: translateX(-100%);
            transition: .5s;
            overflow: auto;
            max-height: 100%;
        }
        .closed{
            display: none;
            @media (max-width: 899px) {
                display: block;
                font-size: 2.5rem;
                color: var(--black);
                position: absolute;
                top: 10px;
                right: 2%;
                cursor: pointer;
                transform: translateX(-100%);
            }
        }
        .box{
            .title{
                font-size: 2.5rem;
                border-bottom: 2px solid var(--grey);
                margin: 10px 0;
                }
            .item{
                cursor: pointer;
                transition: transform 0.2s linear;
                .item-list{
                    display: flex;
                    align-items: center;
                    padding: 10px 10px 10px 10px;
                    img{
                        height: 2.2rem;
                        width: 2.2rem;
                    }
                    p{
                        font-size: 1.6rem;
                        margin-left: 15px ;
                    }
                    .vote{
                        color: var(--yellow);
                    }
                    .noVote{
                        color: var(--yellow);
                    }
                }
                &:hover{
                    background-color: var(--grey);
                }
            }
        }
    }
    .slidebar_active{
        display: block;
        transform: translateX(0);
        .box{
            .item{
                // display: none;
            }
        }
    }
}
.active{
    background: var(--grey);
}