.columnFour{
    box-shadow: var(--text-shadow-block);
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    height: 400px;
    .header{
        .image{
    
            img{
                height: 20rem;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        .content{
            padding: 0 10px;
            color: var(--black);
            h3{
                text-transform: capitalize;
                font-weight: 900;
                &:hover{
                    color: var(--red);
                }
                .rate{
                    display: none;
                }
            }
            p{
                font-size: 1.6rem;
                margin: 5px 0;
                &:hover{
                    color:var(--red)
                }
            }
            .box{
                display: flex;
                justify-content: space-between;
                font-size: 2.3rem;
                .box-address{
                    .icon{
                        color: var(--red);
                        margin: 0 2px;
                    }
                    &:hover{
                        color: var(--red);
                    }
                }
            }
        }
    }
    .footer{
        .btn{
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 5%;
            left: 5%;
            display: flex;
        }
    }
    .rate{
        position:absolute;
        color: var(--red-dark);
        top: 0;
        right: 0;
        font-size: 3rem;
        font-weight: 900;
        .icon{
            font-size: 2rem;
        }
    }
}

// item

.item{
    display: flex;
    text-align: center;
    align-items: center;
    text-align: -webkit-left;
    margin: 5px;
    &:hover{
        background: var(--blue);
    }
    .header{
        display: flex;
        .image{
            place-self: center;
            padding: 10px;
            img{
                height: 6rem;
                border-radius: 50%;
            }
        }
        .content{
            color: var(--black);
            h3{
                text-transform: capitalize;
                font-weight: 900;
                display: flex;
                .rate{
                    display: block;
                    color: var(--yellow);
                    margin-left: 5px;
                }
            }
            p{
                font-size: 1.6rem;
            }
            .box{
                display: flex;
                font-size: 2.3rem;
                .box-address{
                    .icon{
                        color: var(--red);
                        margin: 0 2px;
                    }
                }
            }

        }
    }
    .footer{
        display: none;
    }
    .rate{
        display: none;
    }
}
