.wrapper{
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    background-image: url('../../../assets/images/comment.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .image{
        img{
            border-radius:50% ;
            height: 180px;
            width: 180px;
            box-shadow: var(--text-shadow-block);
        }
    }
    .comment{
        .title{
         font-size: 3.2rem;
         color: var(--blue);   
        }
        span{
            color: var(--yellow);
            text-transform: capitalize;
            margin: 20px 0;
        }
        p{
            margin: 20px 0 70px 20px ;
            padding: 0 30rem;
            @media (max-width: 1024px) {
                padding: 0 10rem;
            }
        }
    }
}