.wrapper{
    background-image: url('../../../assets/images/Information.217f1271.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier Prime', monospace;
    min-height: 75rem;
    display: flex;
    flex-direction: column;
    .review{
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        flex:1;
        .video{
            background: var(--black);
            height: 100%;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 10000;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s;
            transform: translateY(100%);
        }
        .video-active{
            transform: translateY(0);
        }
        .span{
            position: fixed;
            top: 10%;
            right: 10%;
            width: 30px;
            height: 30px;
            font-size: 5rem;
            color: var(--blue);
            z-index: 5;
            cursor: pointer;
        }
        .background-active{
            display: block;
        }
    }
    .container{
        background-color: var(--red);
        padding: 20px 0;
        .content{
            display: flex;
            justify-content: space-between;
            text-align: center;
            text-transform: capitalize;
            font-weight: 900;
            h1{
                color:var(--blue);
                font-size: 6rem;
                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 4rem;
                }
                @media (min-width: 576px) and (max-width: 768px) {
                    font-size: 3rem;
                }
                @media (max-width:576px){
                    font-size: 2.5rem;
                }
            }
            p{
                font-size: 2rem;
                color: var(--yellow);
                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 1.5rem;
                }
                @media (min-width: 576px) and (max-width: 768px) {
                    font-size: 1.5rem;
                }
                @media (max-width:576px){
                    font-size: 1.5rem;
                }
            }
        }
    }
}