.wrapper{
    font-family: 'Courier Prime', monospace;
    background-color: var(--grey);
    .title{
        text-transform: capitalize;
        text-align: center;
        h1{
            font-weight: 900;
        }
        p{
            color: var(--yellow)
        }
    }
    .content{
        text-align-last:center;
        .slide-work{    
            .content{
                font-size: 1.6rem;
                padding: 20px 0;
                transition: all .25s ease;
                &:hover{
                    color: var(--red);
                }
            }
            .icon{
                position: absolute;
                top:100px;
                font-size: 4rem;
                color: var(--blue);
                margin: 0 5px;
                animation-delay: transform 0.2s linear;
                animation: animate1 2s linear infinite;
            }
            .icon-one{
                right: 0;
            }
            .icon-two{
                left: 0;
            }
        }
    }
}
@keyframes animate1 {
	0% {
		transform: translateX(-50%);
	}
	100% {
        opacity: 0;
		transform: translateX(80%);
	}
}