.warpper{
    background-image: url('../../../assets//images/dec2abc6e39e921488c0026d53d63d9f\ \(1\).jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}