.wrapper{
    font-family: 'Courier Prime', monospace;
    transition: transform 0.2s linear;
    .banner{
        position: relative;
        transition: transform 0.2s linear;
        height: 75rem;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .content{
            position: absolute;
            top:0;
            left:0;
            right: 0;
            color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            .title{
                font-size: 1.8rem;
                text-transform: uppercase;
                text-shadow: var(--text-shadow-text)
            }
            p{
                font-size: 7.2rem;
                margin: 15px 0;
                line-height: 1;
                width: 62%;
                color: var(--blue);
                text-shadow: var(--text-shadow-text)
        }
    }
    }
}