.wrapper{
    background: var(--grey);
    h1{
        text-align: center;
        text-align: -webkit-center;
        margin-bottom: 20px;
        color: var(--blue);
        font-weight: 900;
    }
    .box{
        overflow: auto;
        height: 400px;
        .content{
            border-bottom: 1px solid var(--blue);
            .content-product{
            }
            .content-total{
                display: flex;
                align-items: center;
                font-size: 2.2rem;
                font-weight: 900;
            }
            .content-price{
                display: flex;
                align-items: center;
                color: var(--red);
                font-size: 2.2rem;
                font-weight: 900;
            }
            .content-count{
                display: flex;
                align-items: center;
                .count{
                    .btn{
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                        background: var(--grey);
                    }
                    .number{
                        margin: 0 10px;
                    }
                }
            }
            .content-pay{
                align-self: center;
            }
        }
    }
    .total{
        margin: 50px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        p{
            margin: 0 20px;
            font-size: 3rem;
            span{
                color: var(--red);
            }
        }
    }
}