.wrapper{
    background: var(--grey);
    h1{
        text-align: center;
        text-align: -webkit-center;
        margin-bottom: 20px;
        color: var(--blue);
        font-weight: 900;
    }
    .box{
        overflow: auto;
        max-height: 400px;
        background: var(--grey);
        .content{
            border-bottom: 1px solid var(--blue);
            .content-product{
            }
            .content-total{
                display: flex;
                align-items: center;
                font-size: 2.2rem;
                font-weight: 900;
            }
            .content-price{
                display: flex;
                align-items: center;
                color: var(--red);
                font-size: 2.2rem;
                font-weight: 900;
            }
            .content-pay{
                align-self: center;
            }
        }
    }
    .total{
        margin: 50px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        p{
            margin: 0 20px;
            font-size: 3rem;
            span{
                color: var(--red);
            }
        }
        button{
            margin: 0 20px;
        }
    }
}