.wrapper{
    margin: 20px 0;
    .product{
        .box{
            margin-bottom: 30px;
            .three{
                padding: 10px;
            }
            .four{
                padding: 10px 30px;
            }
        }
    }
    .background{
        display: none;
    }
    .active_background{
        display: block;
        height: 400px;
        width: 100%;
        background-image: url('../../../assets/images/error_search.webp');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}