.wrapper{
    margin: 20px 0;
    .product{
        .box{
            margin-bottom: 30px;
            .three{
                padding: 10px;
            }
            .four{
                padding: 10px 30px;
            }
        }
    }
}