.wrapper{
    .pagination{
        display: flex;
        justify-content: center;
        text-align: center;
        .page-item{
            .page-link{
                padding: 10px;
                margin: 0 10px;
                color: var(--black);
                background: var(--white);
                font-size: 2rem;
                font-weight: 900;
                &:hover{
                    background: var(--grey);
                }
            }
            .active{
                background: var(--grey);
            }
        }
    }
}