.wrapper{
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    .header{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .header-navbar{
            display: flex;
            align-items: center;
            .header-logo{
                height: 4.8rem;
                margin: 0 10px;
            }
            .navbar{
                display: flex;
                .navbar-item{
                    margin: 0 15px;
                    position: relative;
                    transition: transform 0.2s linear;
                    &:hover{
                        transform: scale(1.1)
                    }
                    
                }
            }
        }
    .header-right{
            display: flex;
            align-items: center;
            .navbar-cart{
                cursor: pointer;
                margin: 0 15px;
                color: var(--white);
                position: relative;
                .cart-number{
                    position: absolute;
                    top: -20%;
                    right: -10%;
                    background: var(--red);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 2rem;
                    font-weight: 900;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .navbar-account{
                margin: 0 15px;
                cursor: pointer;
                display: flex;
                align-items: center;
                color: var(--white);
                .account-icon{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    align-items: center;
                    flex-shrink: 0;
                    user-select: none;
                    border-radius: 50%;
                    justify-content: center;
                    background-color: #bdbdbd;
                }
            }
        }
    }
}
.active{
    background: var(--black);
    box-shadow: var(--text-shadow-block);
}