.wrapper{
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    .header{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .header-navbar{
            display: flex;
            align-items: center;
            .header-logo{
                height: 4.8rem;
                margin: 0 10px;
                @media(min-width: 768px) and (max-width: 1024px){
                    height: 4rem;
                }
                @media (min-width: 576px) and (max-width: 768px) {
                    height: 3.5rem;
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .header-sildebar{
                font-size: 2.5rem;
                color: var(--blue);
                display: none;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            .active-background{
                display: none;
                @media (max-width: 768px) {
                    display: block;
                    position: fixed;
                    width: 100%;
                    right: 0;
                    top: 0;
                    height: 100vh;
                    background: var(--background-black);
                    z-index: 10000;
                }
            }
            .closed{
                display: none;
                @media (max-width: 768px) {
                    display: block;
                    font-size: 2.5rem;
                    color: var(--blue);
                    position: absolute;
                    top: 2%;
                    right: 10%;
                }
            }
            .navbar{
                display: flex;
                 @media (max-width:768px) {
                    display: block;
                    position: fixed;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background: var(--background-black);
                    padding: 20px 20px;
                    z-index: 9000000;
                    transform: translateX(-100%);
                    transition: .5s
                 }
                .navbar-item{
                    margin: 0 15px;
                    position: relative;
                    transition: transform 0.2s linear;
                    &:hover{
                        transform: scale(1.1)
                    }
                    a{
                     justify-content: left;
                     margin: 20px 0;   
                    }
                }
            }
            .active{
                display: none;
                @media (max-width:768px) {
                    display: block;
                    transform: translateX(0);
                }
            }
        }
    .header-right{
            display: flex;
            align-items: center;
            .navbar-cart{
                cursor: pointer;
                margin: 0 15px;
                color: var(--white);
                position: relative;
                .cart-number{
                    position: absolute;
                    top: -20%;
                    right: -10%;
                    background: var(--red);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    font-size: 2rem;
                    font-weight: 900;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--blue)
                }
            }
            .navbar-account{
                margin: 0 15px;
                cursor: pointer;
                display: flex;
                align-items: center;
                color: var(--white);
                .account-icon{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    align-items: center;
                    flex-shrink: 0;
                    user-select: none;
                    border-radius: 50%;
                    justify-content: center;
                    background-color: #bdbdbd;
                }
            }
        }
    }
}
.active{
    background: var(--black);
    box-shadow: var(--text-shadow-block);
}